/* Navbar */
.container-navbar {
    width: 100%;
    height: auto;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(12.5px);
    top: 0px;
    left: 0px;
    z-index: 200;
    padding: 15px 10px;
}

.content-navbar {
    width: 92.5%;
    max-width: 1111px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-navbar .btn {
    display: none;
    font-size: 35px;
    cursor: pointer;
}

.content-navbar .logo {
    width: auto;
    height: 50px;
    cursor: pointer;
}

.content-navbar .links {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-navbar .links a {
    font-size: 15.5px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: 0.1px;
    color: var(--stoneEleven);
    margin: 0px 16px;
    cursor: pointer;
    transition: all .1s ease-in-out;
} .content-navbar .links a:hover {
    color: var(--one);
    text-decoration: underline;
}

.content-navbar .links .btn-primary {
    width: max-content;
    height: max-content;
    font-size: 14.5px;
    padding: 12.5px 18px;
    margin: 0px 10px;
}

.links .btn-secondary {
    width: max-content;
    height: max-content;
    font-size: 14.25px;
    padding: 12.5px 16px 12.5px 14px;
    margin: 0px 10px;
    display: flex;
    line-height: unset;
    align-items: center;
    justify-content: center;
} .links .btn-secondary .icon {
    margin: 0px 8px 1px 0px;
    padding: 0px;
    font-size: 17px;
    height: auto;
    width: auto;
}


/* Navbar Mobile */
.content-navbar-mobile {
    width: 92.5%;
}

.content-navbar-mobile .links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 0px 10px;
}

.content-navbar-mobile .links a {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: 0.1px;
    color: var(--stoneEleven);
    margin: 7.5px 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
} .content-navbar-mobile .links a:hover {
    color: var(--one);
    text-decoration: underline;
} 

.content-navbar-mobile .links .btn-primary {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}

.content-navbar-mobile .links .btn-secondary {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
} .content-navbar-mobile .links .btn-secondary .icon {
    font-size: 20px;
    margin: 0px 8px 0px 0px;
}

/* Navbar Mobile */
@media (max-width: 910px) {
    .content-navbar .links {
        display: none;
    }
    .container-navbar .btn {
        display: block;
    }
}